{% load static %}
<footer class="footer">
    <div class="footer-section">
        <div class="footer-title">Інформація про компанію</div>
        <ul>
            <li>Про нас</li>
            <li>Умови використання сайту</li>
            <li>Вакансії</li>
            <li>Контакти</li>
            <li>Всі категорії</li>
        </ul>
    </div>
    <div class="footer-section">
        <div class="footer-title">Допомога</div>
        <ul>
            <li>Доставка та оплата</li>
            <li>Кредит</li>
            <li>Гарантія</li>
            <li>Повернення товару</li>
            <li>Сервісні центри</li>
        </ul>
    </div>
    <div class="footer-section">
        <div class="footer-title">Сервіси</div>
        <ul>
            <li>Бонусний рахунок</li>
            <li>Подарункові сертифікати</li>
            <li>CRONOS Обмін</li>
            <li>Корпоративним клієнтам</li>
        </ul>
    </div>
    <div class="footer-section">
        <div class="footer-title">Партнерам</div>
        <ul>
            <li>Продавати на CRONOS</li>
            <li>Співпраця з нами</li>
            <li>Франчайзинг</li>
            <li>Оренда приміщень</li>
        </ul>
    </div>
</footer>