{% extends '_layouts/base.html' %}

{% block content %}
<div class="content-panel" style="max-width: 800px; margin: auto;">
    <p>Про сайт</p>
    <p>Цей сайт створено для демонстрації можливостей фреймворку Django та його розширень.</p>
    <p>Він містить різноманітні функції, такі як:</p>
    <ul>
        <li>Реєстрація та автентифікація користувачів</li>
        <li>Створення та управління блогами</li>
        <li>Коментування статей</li>
        <li>Пошук по сайту</li>
        <li>Інтеграція з соціальними мережами</li>
        <li>Інтернаціоналізація та локалізація</li>
        <li>Інтеграція з API сторонніх сервісів</li>
        <li>Інтерфейс адміністратора для управління контентом</li>
    </ul>
</div>
{% endblock %}